* {
    background-color: aliceblue;
}

#title {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border-scale {
    border: 3px solid;
    border-radius: 0.3rem;
    padding: 10px 20px;
    height: 55rem;
}

#BMIinput {
    display: block;
    padding: 10px 30px;
    border-radius: 0.9rem;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#BMIOutput {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.buttons {
    text-align: center;
}

#BMIButton {
    padding: 10px 15px;
    border-radius: 0.5rem;
    border-color: #05ef05;
    background-color: #05ef05;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#BMIButton:hover {
    background-color: green;
}

#reset {
    padding: 10px 15px;
    border-radius: 0.5rem;
    border-color: #ef0505;
    background-color: #ef0505;
    color: white;
    font-weight: bold;
    margin: 0.5rem;
    cursor: pointer;
}

#reset:hover {
    background-color: #8b0000;
}
